Label, CheckBox {
    -fx-text-Fill: "white";
}

AnchorPane{
    -fx-background-color: "black";
}

#fileListView {
    -fx-background-color: #2e2b2b;
    -fx-text-Fill: "white";
    -fx-skin: 'javafx.scene.control.skin.ListViewSkin';
}

#directoryLabel, #titleSelectDirToScan, #filePickerButton,
#filePickerCont, #processingDirTitle, #saveResFileTitle,
#restartButtonCont, #chooseWhereCont, #bottomContForSaveRes2,
#saveResFileTitileCont, #saveFileLocation{
    -fx-alignment: center;
}

#restartButtonCont{
    -fx-padding: 100 0 50 0;
    -fx-font-size: 18;
 }

#saveResFileTitle {
    -fx-font-size: 26;
    -fx-font-weight: bold;
}

#bottomContForSaveRes2{
    -fx-spacing: 30;
}

#saveFileLocation{
    -fx-font-size: 16;
}

#processingDirTitle {
    -fx-font-size: 22;
    -fx-font-weight: bold;
}

#whereToSaveButton {
    -fx-font-size: 14;
}

#titleSelectDirToScan{
    -fx-font-size: 27;
    -fx-font-weight: bold;
}

#filePickerButton{
    -fx-font-size: 17;
}

#directoryLabel {
    -fx-font-size: 18;
}

#custTheResFileTEXT {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

#startScanButton {
    -fx-font-size: 26;
}