Label, CheckBox {
    -fx-text-Fill: "white";
}

AnchorPane, GridPane{
    -fx-background-color: "black";
    -fx-padding: 20 20 20 20;
}

#fileListView {
    -fx-background-color: #2e2b2b;
    -fx-text-Fill: "white";
    -fx-skin: 'javafx.scene.control.skin.ListViewSkin';
}

#directoryLabel, #titleSelectDirToScan, #filePickerButton,
#filePickerCont, #processingDirTitle, #saveResFileTitle,
#restartButtonCont, #chooseWhereCont, #bottomContForSaveRes2,
#saveResFileTitileCont, #saveFileLocation, #progressBarCont,
#welcomeMidCont, #welcomeLabel{
    -fx-alignment: center;
}

#startButton {
    -fx-font-size: 26;
}
#welcomeLabel{
    -fx-font-size: 35;
}
#welcomeDesc {
    -fx-font-size: 20;
}
#createdBy, #githubLink, #wevsiteLink {
    -fx-font-size: 16;
}
#progressBar{
    -fx-accent: #7bc14a;
}

#restartButtonCont{
    -fx-padding: 100 0 50 0;
    -fx-font-size: 18;
 }

#saveResFileTitle {
    -fx-font-size: 28;
    -fx-font-weight: bold;
}

#bottomContForSaveRes2{
    -fx-spacing: 30;
}

#saveFileLocation{
    -fx-font-size: 18;
}

#processingDirTitle {
    -fx-font-size: 26;
    -fx-font-weight: bold;
    -fx-padding:  0 0 25 0;
}

#whereToSaveButton {
    -fx-font-size: 16;
}
#scanNewDir{
    -fx-font-size: 20;
}

#titleSelectDirToScan{
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

#filePickerButton{
    -fx-font-size: 20;
}

#directoryLabel {
    -fx-font-size: 20;
}

#custTheResFileTEXT {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
#topTenFilesCheckBox, #topTenExtensionsCheckBox,#duplicateFilesCheckBox, #totalFileCountAndDirSizeCheckBox, #deleteDuplicateFilesCheckBox{
    -fx-font-size: 16;
}

#startScanButton {
    -fx-font-size: 28;
}

.list-view .list-cell {
    -fx-text-fill: #ffffff;
    -fx-background-color: #393535;
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

.list-view {
    -fx-border-color: #af9595;
    -fx-border-image-width: 10;
}

/* Slice colors */
.data0.chart-pie { -fx-pie-color: red; }
.data1.chart-pie { -fx-pie-color: blue; }
.data2.chart-pie { -fx-pie-color: green; }
.data3.chart-pie { -fx-pie-color: yellow; }
.data4.chart-pie { -fx-pie-color: #f59648; }
.data5.chart-pie { -fx-pie-color: #830fff; }
.data6.chart-pie { -fx-pie-color: #ff59e0; }
.data7.chart-pie { -fx-pie-color: #3bffcc; }
.data8.chart-pie { -fx-pie-color: #470008; }
.data9.chart-pie { -fx-pie-color: #515151; }
.data10.chart-pie { -fx-pie-color: #515151; }

.data0.chart-pie:hover { -fx-pie-color: #6e0000; }
.data1.chart-pie:hover { -fx-pie-color: #000083; }
.data2.chart-pie:hover { -fx-pie-color: #004300; }
.data3.chart-pie:hover { -fx-pie-color: #686800; }
.data4.chart-pie:hover { -fx-pie-color: #b56d32; }
.data5.chart-pie:hover { -fx-pie-color: #620ebc; }
.data6.chart-pie:hover { -fx-pie-color: #932b7f; }
.data7.chart-pie :hover { -fx-pie-color: #229779; }
.data8.chart-pie:hover { -fx-pie-color: #2b0105; }
.data9.chart-pie :hover { -fx-pie-color: #363636; }
.data10.chart-pie:hover { -fx-pie-color: #363636; }

.chart-title {
    -fx-font-size: 22;
    -fx-font-weight: bold;
}
.chart-legend {
    -fx-background-color: #433c3c;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-padding: 5px;
}

.chart-legend-item {
    -fx-font-size: 12px;
    -fx-text-fill: #ffffff;
}
.chart-legend-item-symbol {
    -fx-background-radius: 50%;
}
.chart-legend-item {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
.chart-pie-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-fill: #ffffff;
}

.chart {
    -fx-text-fill: white;
}

.tab-pane {
    -fx-background-color: #2a2a2a;
    -fx-border-color: #444444;
    -fx-border-width: 1px;
}

.tab-pane .tab-header-background {
    -fx-background-color: #2c2c2c;
}

.tab-pane .tab-content-area {
    -fx-background-color: #1e1e1e;
}

.tab {
    -fx-background-color: #505050;
    -fx-text-fill: white;
    -fx-padding: 5px 10px;
}

.tab:selected {
    -fx-background-color: #696969;
    -fx-text-fill: yellow;
}

.tab:hover {
    -fx-background-color: #838282;
}

#totalDirSizeLabel {
    -fx-min-width: 85;
    -fx-min-height: 35;
}