Label {
    -fx-text-Fill: "white";

}
AnchorPane{
    -fx-background-color: "black";
}
#listView {
    -fx-background-color: #2e2b2b;
    -fx-text-Fill: "white";
}
#directoryLabel, #titleSelectDirToScan, #filePickerButton,#filePickerCont, #processingDirTitle{
    -fx-alignment: center;
}